html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 1em 'Old Standard TT', serif;
    background: #8892BF;
    counter-reset: section;
}

h1,h2,h3,h4 {
    font-weight: bold;
}
h1 {
    font-size: 3em;
    line-height: 1em;
    text-align: center;
}
h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    width: 66%;
    margin: 0 auto;
    text-align: center;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.4em;
    margin: 1em 0 0;
}

p { margin: 0 0 1em; }

#container {
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding: 1.25em;
}

#content {
    padding: 1.25em;
    color: #333;
    background: #F2F2F2;
    counter-reset: section
}

#content h3:not(:first-of-type)::before {
    counter-increment: section;
    content: "Section " counter(section, upper-roman) ".\A";
    white-space: pre;
    font-size: .6em;
}

#content a:link,
#content a:visited {
  color: #369;
}

#content a:hover,
#content a:focus {
  color: #AE508D;
}

.byline {
    margin: 1em 0;
    text-align: center;
    font-size: 1.6em;
}

.toc {
    list-style: upper-roman;
}

.elephpant {
    border: 1px solid #111;
    margin: 0 0 20px;
}

.elephpant .row:before,
.elephpant .row:after {
  display: table;
  content: " ";
}

.elephpant .row:after {
    clear: both;
}

.elephpant .row:not(:first-of-type) {
    border-top: 1px solid #111;
}

.elephpant .box {
    float: left;
}

.elephpant .box.left {
    width: 33%;
}

.elephpant .box.right {
    width: 66%;
}

.elephpant .label,
.elephpant .value {
    padding: 10px;
}

.elephpant .label {
    font-style: italic;
}

.elephpant .photos {
    padding: .8em;
}

.elephpant .photo {
    width: 50%;
    float: left;
}

.elephpant .photo img,
.elephpant .photo .caption {
    display: block;
    width: 96%;
    margin: auto;
}

.elephpant .photo .caption {
    font-size: .6em;
    text-align: right;
    font-style: italic;
}

.elephpant .description {
    padding: 1em .8em 0;
}

.copyright {
    margin-top: 2em;
    border-top: 1px dashed;
    padding-top: 1em;
    text-align: center;
    font-size: .8em;
}

.copyright p {
    margin: 0;
}


@media (max-width: 720px) {
    h1 { font-size: 2.2em; }
    h2 { font-size: 1.4em; width: 80%; }
    h3 { font-size: 1.3em; }
    h4 { font-size: 1.1em; }
    .byline { font-size: 1.1em; }
}
@media (max-width: 540px) {
    .elephpant .box.left,
    .elephpant .box.right {
	width: 100%;
    }
    .elephpant .box:not(:first-of-type) {
        border-top: 1px dashed #111;
    }
    .elephpant .photo {
        width: 100%;
    }
}
